@font-face {
    font-family: 'Fruances 144' ;
    src: url('./assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf');
}

@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/manrope/Manrope-VariableFont_wght.ttf')
}



*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body{
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.wrap-layer{
    height: 90vh;
    background-image: url('./assets/images/hero-bg.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.wrap-layer-2{
    margin-top: -5%;
    height: 95vh;
    background-image: url('./assets/images/hero-bg-2.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;
}
/* .wrap-layer svg{
    max-width: 100%;
} */

.text-layer{
    position: absolute;
    right: 0;
    left: 0;
    
    /* width: 100%; */
    /* height: auto; */
    color: white;
}



.nav-links{
    font-family: 'Manrope', sans-serif;
    font-size: 1.1em;
}

.access-link{
    border-bottom: 2px solid #44FFA1;
}

.hero-text{
    font-family: 'Fruances 144', serif;
    font-size: 4em;
}

.learn-more-btn{
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    color: #24053E;
    background-color: #44FFA1;
    border: none;

}

.hero-bg-1{
    height: 100vh;
    /* left: -150px; */
}

.hero-img-1{
    margin-top: 8%;
    position: absolute;
    left: -150px;
}

.hero-img-2{
    margin-top: 20%;
    position: absolute;
    right: -70px;
}

.hero-phone-img img{
height: 30vw;
margin-top: -10vw;
}

.home-text{
    color: black;
    margin-top: 8%;
    display: flex;
    flex-wrap:wrap;
}

.home-text.row{
    
}

.hero-phone-img{
 width: 100%;
 position: absolute;
 z-index: 2;
}

.copy-num{
    border: solid 1px black;
    border-radius: 50%;
    height: 3em;
    width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 1.2em;
    margin-bottom: 3%;
    font-family: 'Fruances 144', serif;
}

.copy-title{
    font-family: 'Fruances 144', serif;
    font-size: 2em;
    margin-bottom: 3%;
}

.copy-text{
    margin-bottom: 15%;
}

/* ******** MEDIA QUERIES ********* */

@media screen and (min-width: 375px){
    .hero-bg-1{
        display: none;
    }
    .hero-text{
        font-size: 3em;;
    }

    .wrap-layer{
        height: 80vh;;
    }

    .hero-phone-img img{
        height: 30vh;
        margin-top: -25vw;
    }
}

@media screen and (min-width: 768px){
    .hero-phone-img img{
        height: 40vh;
        margin-top: -10vw;
    }
    .hero-bg-1{
        display: block;
    }
    .hero-img-1{
        margin-top: 8%;
        position: absolute;
        left: -190px;
    }
    .hero-img-2{
        margin-top: 30%;
        position: absolute;
        right: -100px;
    }

}

@media screen and (min-width: 1440px){
    .hero-text{
        font-size: 4em;
    }
    .hero-phone-img img{
        height: 50vh;
        margin-top: -5vw;
    }
    .hero-img-1{
        margin-top: 8%;
        position: absolute;
        left: -150px;
    }
    
    .hero-img-2{
        margin-top: 20%;
        position: absolute;
        right: -70px;
    }
}



