@font-face {
    font-family: 'Fruances 144' ;
    src: url('./assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf');
}

@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/manrope/Manrope-VariableFont_wght.ttf')
}



*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body{
    height: 100%;
    margin: 0;
}

.wrap-layer{
    height: 90vh;
    background-image: url('./assets/images/hero-bg.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

/* .wrap-layer svg{
    max-width: 100%;
} */

.text-layer{
    position: absolute;
    right: 0;
    left: 0;
    /* width: 100%; */
    /* height: auto; */
    color: white;
}



.nav-links{
    font-family: 'Manrope', sans-serif;
    font-size: 1.1em;
}

.access-link{
    border-bottom: 2px solid #44FFA1;
}

.hero-text{
    font-family: 'Fruances 144', serif;
    font-size: 4em;
}

.learn-more-btn{
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    color: #24053E;
    background-color: #44FFA1;
    border: none;

}





